{
  "hue": {
    "host": "hue.example.com",
    "user": "your_hue_user",
    "timeout": 5
  },
  "influx": {
    "url": "https://influx.example.com:8086",
    "db": "hue_db",
    "user": "your_influx_user",
    "password": "your_influx_password",
    "timeout": 5
  },
  "interval": 300,
  "temperature_units": "C",
  "sensors": {
    "Hue ambient light sensor 1": "Room1_Light_Sensor",
    "Hue ambient light sensor 2": "Room2_Light_Sensor",
    "Hue temperature sensor 1": "Room1_Temperature_Sensor",
    "Hue temperature sensor 2": "Room2_Temperature_Sensor",
  }
}